<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div class="boxed-width ion-padding">
    <form [formGroup]="form">    
      <ion-item>
        <ion-label position="stacked">Project name</ion-label>
        <ion-input placeholder="Name" formControlName="name" [appAutoFocus]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Client</ion-label>
        <ion-input placeholder="Client" formControlName="client"></ion-input>
      </ion-item>
      <ion-item class="quill-item" lines="full">
        <ion-label position="stacked">Vision</ion-label>        
        <quill-editor formControlName="vision"></quill-editor>
      </ion-item>
      <ion-item class="quill-item" lines="full">
        <ion-label position="stacked">Goals</ion-label>
        <quill-editor formControlName="goals"></quill-editor>    
      </ion-item>
      
      
    </form>
  </div>
  
</ion-content>
