<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div class="boxed-width ion-padding">
    <form [formGroup]="form">    
      <ion-item>
        <ion-label position="floating">Project name</ion-label>
        <ion-input placeholder="Name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Client</ion-label>
        <ion-input placeholder="Client" formControlName="client"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <quill-editor formControlName="vision" [maxLength]="10" [required]="true"></quill-editor>    
      </ion-item>
      
      
    </form>
  </div>
  
</ion-content>
