.wbs {    
    background-color: honeydew;
}
.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    background-color: blanchedalmond;
    min-width: 80px;
    max-width: 120px;
    height: 60px;    
    border: 1px solid black;
    border-radius: 3px;        
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.epics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.epic-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box.story {
    background-color: gainsboro;
}