<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Roles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div class="wbs">

  <div class="project">
    <div class="box">
      Projeto
    </div>
  </div>
  <div class="project">
    <svg height="10" width="2">
      <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
    </svg>
  </div>
  <div class="epics">

    <div class="epic-column">
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box epic">
        EPIC 1
      </div>
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box story">
        story A
      </div>
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box story">
        story B
      </div>
    </div>

    <div class="epic-column">
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box epic">
        EPIC 2
      </div>
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box story">
        story Axxxxxx  xxxxxxxxx xxxxxxxxxxxx
      </div>
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box story">
        story B
      </div>
    </div>

    <div class="epic-column">
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box epic">
        EPIC 3
      </div>
      <svg height="10" width="2">
        <line x1="0" y1="0" x2="0" y2="10"style="stroke:rgb(0,0,0);stroke-width:2px" />
      </svg>
      <div class="box story">
        story A
      </div>      
    </div>
   
    
  </div>
  


</div>


  

</ion-content>
