<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Save as...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="boxed-width ion-padding-start ion-padding-end">

    <ion-text>
      <h1>Where do you want to save this project?</h1>
    </ion-text>

    <div>
      <ion-card class="tile1x with-hover with-icon" (click)="saveAsLocal()">
        <ion-icon name="cloud-download"></ion-icon>
        <ion-card-header>          
          <ion-card-title>Local file</ion-card-title>          
        </ion-card-header>
        <ion-card-content>Saves all project's content as a Json file at your local machine</ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
