<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Open</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="boxed-width ion-padding">

    <ion-text *ngIf="projects.length > 0">
      <h1>in memory</h1>
    </ion-text>

    <ion-card class="with-hover" *ngFor="let prj of projects">
      <ion-card-header (click)="openProject(prj.projectId)">
        <ion-card-subtitle>
          {{prj.name}} - {{prj.client}}          
        </ion-card-subtitle>              
      </ion-card-header>
      <ion-icon *ngIf="this.projectId!==prj.projectId" (click)="confirmRemove(prj, $event)" class="remove-icon" name="trash-outline"></ion-icon>
    </ion-card>

    <ion-text>
      <h1>open from</h1>
    </ion-text>

    <ion-card class="tile1x with-hover with-icon" (click)="f.click()">      
        <ion-icon name="cloud-upload"></ion-icon>                
        <ion-card-header>          
          <ion-card-title>Open a local file</ion-card-title>          
        </ion-card-header>    
        <ion-card-content>Select a zip file from your local computer</ion-card-content>            
        <input class="ion-hide" #f type="file" (change)="importProject($event)" id="file-input">
    </ion-card>


  </div>

</ion-content>
