<ion-app>

  <!-- Block UI -->
  <ion-backdrop *ngIf="messageService.isUIBlocked" visible="true"></ion-backdrop>

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <!-- REQ MENU -->
        <ion-list *ngIf="selectedMenu=='req'" id="inbox-list">
          <ion-list-header>Requirements menu</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/' + projectId +'/summary']" lines="none" detail="false">
              <ion-icon slot="start" name="journal-outline"></ion-icon>
              <ion-label>Summary</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/' + projectId +'/roles']" lines="none" detail="false">
              <ion-icon slot="start" name="people-circle"></ion-icon>
              <ion-label>Roles</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/' + projectId +'/requirements']" lines="none" detail="false">
              <ion-icon slot="start" name="extension-puzzle-outline"></ion-icon>
              <ion-label>Requirements</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/']" lines="none" detail="false">              
              <ion-icon slot="start" name="checkbox-outline"></ion-icon>
              <ion-label>Non-Funcionals</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- FILE MENU -->
        <ion-list *ngIf="selectedMenu=='files'" id="inbox-list">
          <ion-list-header>Files menu</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-icon slot="start" name="folder-open-outline"></ion-icon>
              <ion-label>Open</ion-label>
            </ion-item>            
            <ion-item routerDirection="root" [routerLink]="['/' + projectId + '/saveas']" lines="none" detail="false">
              <ion-icon slot="start"  name="save-outline"></ion-icon>
              <ion-label>Save as...</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/' + projectId + '/print']" lines="none" detail="false">
              <ion-icon slot="start" name="print"></ion-icon>
              <ion-label>Print</ion-label>
            </ion-item>                        
          </ion-menu-toggle>          
        </ion-list>

        <ion-segment class="menu-selector">
          <ion-segment-button value="requirements" (click)="selectedMenu = 'req'">
            <ion-icon name="extension-puzzle-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="file"  (click)="selectedMenu = 'files'">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <!-- LOADING SPIN -->
  <div *ngIf="messageService.isLoadingData" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

</ion-app>
