ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-list-header,


ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  text-align: center;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.menu-selector {
  position: absolute;
  top: 0px; left: 0px; 
  min-height: 100vh; height: auto;
  flex-direction: column;
  width: 60px;
  min-width: 0px;
  align-items: center;
  justify-content: start;
  border-right: 1px solid var(--ion-color-step-150, #d7d8da);
  background-color: #FCFCFC;
}
.menu-selector ion-segment-button {
  min-width: 60px;
  height: 60px;
  flex-grow: 0;
}


.project-info {
  color:gray;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-menu {
  margin-left: 60px;
}

ion-split-pane {
  --side-min-width: 60px;
  --side-max-width: 340px;  
}
ion-split-pane.half-open {
  --side-width: 60px;
}

ion-menu {
  transition: width 0.3s ease-in-out;
}

ion-list-header {  
  --color: var(--ion-color-primary);
  margin-bottom: 10px;
}
.menu-header {
  font-weight: normal!important;
  font-size: 18px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
}

ion-segment-button {
  border-top: solid 2px transparent!important;
}

ion-segment-button.segment-button-checked {
  border-top: solid 2px var(--indicator-color)!important;
}

.hide-submenu-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.spinner {
  position: fixed;
  margin-left: 50%;
  margin-top: 50%;
}

ion-backdrop {
  opacity: 0.5;
}