<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Requirements</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="req-list" cdkDropList (cdkDropListDropped)="onDrop($event)">

    <!-- <ion-item *ngFor="let req of requirements" [routerLink]="'/requirements/' + req.reqId"> -->    
    <ion-item 
      class="req-item"        
      *ngFor="let req of requirements"
      (cdkDragEnded)="onDragEnded($event)" (cdkDragStarted)="onDragStart($event)" cdkDrag>
      <div class="req-placeholder" *cdkDragPlaceholder></div>
      <ion-label class="req-label" [class.story]="req.parentId != null">
        <div class="req-code">{{req.reqCode}}</div>
        {{req.name}}
      </ion-label>
      
      <ion-icon *ngIf="req.parentId == null" (click)="toStory(req)" slot="end" name="arrow-forward-outline"></ion-icon>
      <ion-icon *ngIf="req.parentId != null"  (click)="toEpic(req)" slot="end" name="arrow-back-outline"></ion-icon>      
    </ion-item>

  </ion-list>

  <ion-item lines="none">
    <form [formGroup]="form" slot="start" class="input-form">
      <ion-input placeholder="New requirement" formControlName="newRequirement"></ion-input>      
    </form>                  
    <ion-button color="primary" (click)="addRequirement()">Add</ion-button>
  </ion-item>

  
    
      

</ion-content>
