.req-code {
    font-size: x-small;
    color: gray;
    position: absolute;
    font-weight: normal;
    top: 6px;
}

.req-label {
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.req-label.story {
    margin-left: 40px;
    font-weight: normal;
}

  
ion-item.req-item {        
    background: white;    
    --padding-start: 0;
}
  
.cdk-drag-preview {
box-sizing: border-box;
border-radius: 4px;
box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
    
.req-list.cdk-drop-list-dragging .req-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.req-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.req-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);    
}

.req-item .drag-handle {
    cursor: move;
}

.req-item .show-on-hover {
    visibility: hidden;
}
.req-item:hover .show-on-hover {
    visibility: visible;
}

.new-req {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
}
.new-req ion-input {
    --background: rgba(var(--ion-color-primary-rgb), 0.1)!important;
}

.new-req.story ion-input {
    padding-left: 40px!important;    
}

.ident-icon {
    cursor: pointer;
    color: #999;
    position: absolute;
    left: 0px;
    top: 18px;
}

.story .ident-icon {    
    left: 14px;
}

.color-marker {
    width: 10px;
    position: absolute;
    background-color: #ddd;
    height: 100%;
}

.color-marker.selected {
    background-color: rgba(var(--ion-color-primary-rgb), 1);
}

ion-list.req-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.story-list {
    // transform: scaleY(1);
    // transform-origin: top;
    // transition: transform 0.5s ease;
    // transition: max-height 0.5s, opacity 0.5s ease-in;
    // max-height: 300px;
}

.story-list.reduced {
    //transform: scaleY(0);
    // height: 0px;
    // max-height: 0px;
    // transition: max-height 0.5s ease-out;
    // opacity: 0;
    display: none;
}

ion-item.selected {
    --background-color: rgba(var(--ion-color-primary-rgb), 0.1);
}