<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{req.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="boxed-width ion-padding">
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="stacked">Story name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Id</ion-label>
        <ion-input formControlName="reqCode"></ion-input>
      </ion-item>
      <ion-item lines="full">         
        <ion-label position="stacked">Story</ion-label>
        <quill-editor formControlName="story"  [appAutoFocus]="true"></quill-editor>
      </ion-item>
        
          
    </form>
  </div>
  
</ion-content>
