<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Print</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="boxed-width ion-padding-start ion-padding-end">

    <ion-text>
      <h1>What would you like to print</h1>
    </ion-text>

    <div>
      <ion-card class="tile1x with-hover">
        <ion-card-header (click)="print()">
          <ion-card-subtitle>URS</ion-card-subtitle>
          <ion-card-title>URS - User Requirements Specifications</ion-card-title>
        </ion-card-header>        
      </ion-card>
    </div>
  
    <ion-button (click)="export()" color="light">    
      <span>Download as HTML</span>
    </ion-button>
  
  </div>
  
</ion-content>
