/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* QUILL */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

quill-editor {
    width: 100%;
    border: none;
}

quill-editor .ql-toolbar {
    border: none!important;
    padding-left: 0px!important;
    margin-left: -8px!important;
}

quill-editor .ql-container {
    border: none!important;
}

quill-editor .ql-editor {
    padding-left: 0px;
}
.epic.pal1 { border-left: #000000 solid 3px; }
.epic.pal2 { border-left: #808080 solid 3px; }
.epic.pal3 { border-left: #000075 solid 3px; }
.epic.pal4 { border-left: #ffd8b1 solid 3px; }
.epic.pal5 { border-left: #808000 solid 3px; }
.epic.pal6 { border-left: #aaffc3 solid 3px; }
.epic.pal7 { border-left: #800000 solid 3px; }
.epic.pal8 { border-left: #fffac8 solid 3px; }
.epic.pal9 { border-left: #9a6324 solid 3px; }
.epic.pal10 { border-left: #e6beff solid 3px; }
.epic.pal11 { border-left: #008080 solid 3px; }
.epic.pal12 { border-left: #fabebe solid 3px; }
.epic.pal13 { border-left: #bcf60c solid 3px; }
.epic.pal14 { border-left: #f032e6 solid 3px; }
.epic.pal15 { border-left: #46f0f0 solid 3px; }
.epic.pal16 { border-left: #911eb4 solid 3px; }
.epic.pal17 { border-left: #f58231 solid 3px; }
.epic.pal18 { border-left: #4363d8 solid 3px;}
.epic.pal19 { border-left: #ffe119 solid 3px;}
.epic.pal20 { border-left: #3cb44b solid 3px; }

ion-card.tile1x {
    width: 300px;
    min-height: 120px;
}

ion-card.tile1x.with-icon ion-card-header, ion-card.tile1x.with-icon ion-card-content {
    margin-left: 66px;    
}

ion-card.tile1x.with-icon ion-icon {
    position: absolute;    
    top: 16px;
    left: 16px;
    width: 40px;
    height: 40px;
}

ion-card.tile1x.with-icon:hover ion-icon {
    color: var(--ion-color-primary);
}

ion-card.with-hover:hover {
    cursor: pointer;
    --background: rgba(var(--ion-color-primary-rgb), 0.14);;
}

.alert-custom-class {
    --max-width: 750px;
}

.alert-custom-class button.medium {
    color: var(--ion-color-medium)!important;
}

.alert-custom-class button.danger {
    color: var(--ion-color-danger)!important;
}