.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
}

.row div {
    flex-grow: 1;
}

.row div.id-field {
    flex-basis: 200px;
    flex-grow: 0;    
}