<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Non functional requirements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="boxed-width ion-padding">
    <form [formGroup]="form">
      <ion-item class="req"
        formArrayName="reqs"
        *ngFor="let req of form.controls.reqs.controls; let i = index;">
          <div [formGroupName]="i" class="row">
            <div class="id-field">
              <ion-label position="stacked">Id</ion-label>
              <ion-input formControlName="reqCode" (focusout)="updateRequirement(req)"></ion-input>
            </div>
            <div>
              <ion-label position="stacked">Requirement</ion-label>
              <ion-textarea formControlName="description" rows="1" autoGrow="true" (focusout)="updateRequirement(req)"></ion-textarea>
            </div>                      
          </div>        
          <ion-icon name="trash-outline" slot="end" class="remove-button" (click)="removeRequirement(req)"></ion-icon>          
            
      </ion-item>
      
    </form>

    <ion-button (click)="addRequirement()">add</ion-button>

  </div>

  

</ion-content>
