.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
}

.row div {
    flex-grow: 1;
}

.row div.id-field {
    flex-basis: 100px;
    flex-grow: 0;    
}

ion-textarea {
    min-height: 20px;
    --padding-top: 0px!important;
}