.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
}

.row div {
    flex-grow: 1;
}

.row div.id-field {
    flex-basis: 100px;
    flex-grow: 0;    
}

ion-textarea {
    min-height: 20px;
    --padding-top: 0px!important;
}

.req .remove-button {
    display: none;
    color: #616e7e;
    margin-top: 14px;
    cursor: pointer;
}

.req:focus-within .remove-button {
    display: block;
}