<html>
    <head>
        <title>{{project.name}} - User Requirements Specification</title>
        <link rel="stylesheet" type="text/css" href="{{host}}/assets/templates/default.css">
        <style>
             <!--
                @page { 
                    size:8.5in 11in;
                    margin: 2cm;
                    orphans:4;
                    widows:2;
                }
            -->
        </style>
    </head>
    <body>
        <br><br><br>
        <h1>{{project.name}}</h1>
        <h1>{{project.client}}</h1>
        <h1>User Requirements Specification</h1>
        <div style="background-color: black; width: 100%; height: 10px;"></div>

        <h2>Contents</h2>
        <ul class="toc-list">
            <li><a href="#Purpose">1 Purpose</a></li>
            <li><a href="#Scope">2 Scope</a></li>
            <li>
                <a href="#UserRequirements">3 User requirements</a>
                <ul>
                    {{epics}}
                    <li><a href="#{{reqId}}">{{name}}</a></li>                    
                    {{/epics}}
                </ul>                
            </li>
            <li><a href="#NonFuncationalRequirements">4 Non functional requirements</a></li>
            <li><a href="#NonFuncationalRequirements">5 Revisions</a></li>
        </ul>

        <h2 id="Purpose">1 Purpose</h2>
        <p>
            The purpose of this document is to define the User and Functional Requirements for <b>{{project.name}}</b>.<br><br>
            The document specifies:
            <ul>
                <li>User requirements that were gathered through analysis of the business use/processes and regulatory requirements.</li>
                <li>Functional requirements that were gathered through the analysis of the User Requirements. </li>
            </ul>
        </p>
        <p>
            This Requirements Specification document details end-user needs and intended uses for the system as well as technical and regulatory requirements.
            It is used as an input for the Design and Testing phases, including their documentation, for example: Design Specifications, Test Plan, etc.
        </p>

        <h2 id="Scope">2 Scope</h2>
        {{project.data.vision}}
        
        <h3>Goals</h3>
        {{project.data.goals}}

        <h2 id="UserRequirements">3 User Requirements</h2>

        {{wbs}}
        
        {{epics}}
            <h3 class="epic-header" id="{{reqId}}">
                <div class="color-mark epicBG {{color}}"></div>
                <span>{{name}}</span>
            </h3>
            
            {{data.story}}
            {{childs}}
                <h3>{{reqCode}} - {{name}}</h3>
                {{data.story}}
            {{/childs}}
        {{/epics}}

                
    <body>
</html>