.epic {
    -webkit-print-color-adjust: exact;
}
.epic.pal1 { background-color: #000000; }
.epic.pal2 { background-color: #808080; }
.epic.pal3 { background-color: #000075; }
.epic.pal4 { background-color: #ffd8b1; }
.epic.pal5 { background-color: #808000; }
.epic.pal6 { background-color: #aaffc3; }
.epic.pal7 { background-color: #800000; }
.epic.pal8 { background-color: #fffac8; }
.epic.pal9 { background-color: #9a6324; }
.epic.pal10 { background-color: #e6beff; }
.epic.pal11 { background-color: #008080; }
.epic.pal12 { background-color: #fabebe; }
.epic.pal13 { background-color: #bcf60c; }
.epic.pal14 { background-color: #f032e6; }
.epic.pal15 { background-color: #46f0f0; }
.epic.pal16 { background-color: #911eb4; }
.epic.pal17 { background-color: #f58231; }
.epic.pal18 { background-color: #4363d8;}
.epic.pal19 { background-color: #ffe119;}
.epic.pal20 { background-color: #3cb44b; }